<nav>
    <div class ="site-title">
        <a href="/">             <h1>   Mashhood Blog Posting Site:   </h1>        </a>
        <p> A basic Blog Posting Site: (Based On CRUD operations:)</p>
    </div>
    <ul>
        <li><a href="/"><h3>Home</h3></a></li>
        <li><a href="/about"><h3>About Us</h3></a></li>
        <li><a href="/create"><h3>New BLOG</h3></a></li>
    </ul>
</nav>